mixin androidstatusbar(fillColor)
  .androidstatusbar(mdw-theme-fill=(fillColor ? fillColor : false))
    div 12:30
    i.material-icons(style="letter-spacing:2px;padding:0 2px") &#xE1BA;&#xE1C8;&#xE1A4;

mixin toolbar(fillColor, start, end)
  .mdw-toolbar(mdw-theme-fill=(fillColor ? fillColor : false))
    .mdw-toolbar__action
      .mdw-toolbar__start
        each icon in start
          .mdw-button.material-icons(mdw-icon)= icon
      .mdw-toolbar__title
        block
      .mdw-toolbar__end
        each icon in end
          .mdw-button.material-icons(mdw-icon mdw-more-button=(icon === 'more_vert'))= icon
mixin androidnavbar
  .androidnavbar
    i.material-icons.back-button &#xE3C8;
    i.material-icons &#xE836;
    i.material-icons &#xE835;
mixin target(url)
  .target(style=`background-image: url(${url})`)

mixin header()
  doctype html
  html(lang='en')
    head
      title Material Design Web
      meta(charset='utf-8')
      meta(content='IE=edge', http-equiv='X-UA-Compatible')
      meta(content='', name='description')
      meta(content="width=device-width, initial-scale=1, viewport-fit=cover", name='viewport')
      meta(name="theme-color" content="#E91E63")
      meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
      meta(name="apple-mobile-web-app-capable" content="yes")
      link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      link(rel='stylesheet' href='docs.min.css')
      link(rel='stylesheet' href='components.min.css')
      link(rel='stylesheet' href='theming.min.css')
      link(rel='stylesheet' href='theming.ie11.min.css' media="screen and (-ms-high-contrast: active), (-ms-high-contrast: none)")
      script(src='prerender.min.js')
    body.mdw-type
      block

mixin navdrawer(selected)
  .mdw-navdrawer#docs-navdrawer
    a.mdw-navdrawer__scrim(href="#")
    .mdw-navdrawer__toolbar
      .mdw-toolbar(mdw-theme-fill="accent-500 dark" mdw-app-bar)
        .mdw-toolbar__action
          .mdw-toolbar__start
            .mdw-tooltip__wrapper
              a.mdw-tooltip__target.mdw-button(mdw-icon href="#docs-navdrawer").material-icons menu
              .mdw-tooltip Menu
          .mdw-toolbar__title=selected
          #docs-menu-buttons.mdw-toolbar__end
            .mdw-tooltip__wrapper
              .mdw-tooltip__target.mdw-button(mdw-icon mdw-inactive).docs-rtl RTL
              .mdw-tooltip Right-to-Left
            .mdw-tooltip__wrapper
              .mdw-tooltip__target.mdw-button.material-icons(mdw-icon mdw-inactive) brightness_3
              .mdw-tooltip Dark Mode
            .mdw-tooltip__wrapper
              .mdw-tooltip__target.mdw-button.material-icons(mdw-icon mdw-inactive) format_size
              .mdw-tooltip Large Font
    .mdw-navdrawer__drawer
      .mdw-list
        a.mdw-list__item(mdw-selected=selected=='Home' href='index.html' mdw-theme-color="primary")
          .mdw-list__text Home
        .mdw-list__subheader Components
        a.mdw-list__item(mdw-selected=selected=='bottomnav' href="bottomnav.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons call_to_action
          .mdw-list__text Bottom Navigation
        a.mdw-list__item(mdw-selected=selected=='button' href="button.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons crop_landscape
          .mdw-list__text Button
        a.mdw-list__item(mdw-selected=selected=='card' href="card.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons crop_square
          .mdw-list__text Card
        a.mdw-list__item(mdw-selected=selected=='dialog' href="dialog.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons select_all
          .mdw-list__text Dialog
        a.mdw-list__item(mdw-selected=selected=='datatable' href="datatable.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons format_align_justify
          .mdw-list__text Data Table
        a.mdw-list__item(mdw-selected=selected=='elevation' href="elevation.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons layers
          .mdw-list__text Elevation
        a.mdw-list__item(mdw-selected=selected=='fab' href="fab.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons add_circle
          .mdw-list__text Floating Action Button
        a.mdw-list__item(mdw-selected=selected=='layout' href="layout.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons view_compact
          .mdw-list__text Layout
        a.mdw-list__item(mdw-selected=selected=='list' href="list.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons view_list
          .mdw-list__text List
        a.mdw-list__item(mdw-selected=selected=='menu' href="menu.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons picture_in_picture
          .mdw-list__text Menu
        a.mdw-list__item(mdw-selected=selected=='navdrawer' href="navdrawer.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons menu
          .mdw-list__text Navigation Drawer
        a.mdw-list__item(mdw-selected=selected=='progress' href="progress.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons timelapse
          .mdw-list__text Progress
        a.mdw-list__item(mdw-selected=selected=='search' href="search.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons search
          .mdw-list__text Search
        a.mdw-list__item(mdw-selected=selected=='selection' href="selection.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons toggle_on
          .mdw-list__text Selection
        a.mdw-list__item(mdw-selected=selected=='slider' href="slider.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons tune
          .mdw-list__text Slider
        a.mdw-list__item(mdw-selected=selected=='snackbar' href="snackbar.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons video_label
          .mdw-list__text Snackbar
        a.mdw-list__item(mdw-selected=selected=='tab' href="tab.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons tab
          .mdw-list__text Tab
        a.mdw-list__item(mdw-selected=selected=='textfield' href="textfield.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons text_fields
          .mdw-list__text Text Field
        a.mdw-list__item(mdw-selected=selected=='toolbar' href="toolbar.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons web_asset
          .mdw-list__text Toolbar
        a.mdw-list__item(mdw-selected=selected=='tooltip' href="tooltip.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons info
          .mdw-list__text Tooltip
        a.mdw-list__item(mdw-selected=selected=='type' href="type.html" mdw-theme-color="accent")
          .mdw-list__icon.material-icons font_download
          .mdw-list__text Typography
    .mdw-navdrawer__content
      block
