mixin mdwSelection(options={})
  label.mdw-selection
    input.mdw-selection__input.mdw-overlay(
    mdw-overlay-disabled="none"
    class=(options.ink ? 'mdw-theme' : false)
    mdw-ink=(options.ink)
    role=(options.type === 'switch' ? 'switch' : false)
    type=(options.type === 'radio' ? 'radio' : 'checkbox')
    checked=(options.checked ? '' : false)
    disabled=(options.disabled ? '' : false)
    aria-disabled=(options.disabled ? 'true' : false)
    name=(options.name)
    value=(options.value)
    )&attributes(attributes)
    if (options.prefix)
      .mdw-selection__label
        block
      .mdw-selection__icon(class=(options.ink ? 'mdw-theme' : false)
      mdw-ink=(options.ink)
      mdw-radio=(options.type === 'radio' ? '' : false)
      mdw-switch=(options.type === 'switch' ? '' : false)
      mdw-checkbox=(options.type !== 'radio' && options.type !== 'switch' ? '' : false))
    else
      .mdw-selection__icon(class=(options.ink ? 'mdw-theme' : false)
      mdw-ink=(options.ink)
      mdw-radio=(options.type === 'radio' ? '' : false)
      mdw-switch=(options.type === 'switch' ? '' : false)
      mdw-checkbox=(options.type !== 'radio' && options.type !== 'switch' ? '' : false))
      .mdw-selection__label
        block
