include ../templates/index.pug

mixin androidstatusbar(surfaceColor, lightness)
  .androidstatusbar.mdw-theme(
  mdw-surface=(surfaceColor ? surfaceColor : false)
  mdw-light=(lightness=='light' ? '' : false)
  mdw-dark=(lightness=='dark' ? '' : false))
    div 12:30
    i.material-icons(style="letter-spacing:2px;padding:0 2px") &#xE1BA;&#xE1C8;&#xE1A4;

mixin appbar(surfaceColor, lightness, start, end)
  .mdw-appbar.mdw-elevation.mdw-theme(
  style="z-index:4"
  mdw-elevation="4"
  mdw-surface=(surfaceColor ? surfaceColor : false)
  mdw-light=(lightness=='light' ? '' : false)
  mdw-dark=(lightness=='dark' ? '' : false))
    .mdw-appbar__action
      .mdw-appbar__start
        each icon in start
          +mdwButton({ icon:true }).material-icons= icon
      .mdw-appbar__title
        block
      .mdw-appbar__end
        each icon in end
          +mdwButton({ icon:true })(mdw-more-button=(icon === 'more_vert')).material-icons= icon
mixin androidnavbar
  .androidnavbar
    i.material-icons.back-button &#xE3C8;
    i.material-icons &#xE836;
    i.material-icons &#xE835;
mixin target(url)
  .target(style=`background-image: url(${url})`)

mixin navListItem(key, icon, name, activatedKey, color="secondary contrast")
  li.mdw-list__item
    a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(
    aria-selected=(activatedKey==key ? 'true' : 'false')
    aria-current=(activatedKey==key ? 'page' : false)
    href=(key + ".html")
    mdw-ink=color
    )
      if (icon)
        .mdw-list__icon.mdw-theme.material-icons(mdw-ink="medium")=icon
      .mdw-list__text
        .mdw-list__text-block=name


mixin header(activated)
  doctype html
  html.mdw-layout.mdw-theme(lang='en' mdw-surface="binary" mdw-light)
    head
      title Material Design Web
      meta(charset='utf-8')
      meta(content='IE=edge', http-equiv='X-UA-Compatible')
      meta(content='Material Design Web - CSS/JS Framework', name='description')
      meta(content="width=device-width, initial-scale=1, viewport-fit=cover", name='viewport')
      meta(name="theme-color" content="#C2185B")
      meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
      meta(name="apple-mobile-web-app-capable" content="yes")
      link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500')
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Merriweather:300,400,500')
      link(rel='stylesheet' href='docs.min.css')
      link(rel='stylesheet' href='spec.min.css')
      link(rel='stylesheet' href='theme-default.min.css' title="Default Theme")
      link(rel='stylesheet' href='theme-default-fallbacks.min.css' media="all\\0" title="Default Theme")
      link(rel='stylesheet' disabled href='theme-colored.min.css' title="Colored Theme")
      link(rel='stylesheet' disabled href='theme-colored-fallbacks.min.css' media="all\\0" title="Colored Theme")
      script(src='prerender.min.js')
    body.mdw-layout__body.mdw-theme(mdw-surface="background" mdw-sidesheet-toggle="dismissible" mdw-sidesheet-style="modal")
      .mdw-layout__menus
      .mdw-layout__dialogs
      nav#docs-navdrawer.mdw-layout__navdrawer
        .mdw-layout__sheet-content.mdw-theme(mdw-surface="background" mdw-border-ink)
          ul.mdw-list(style="padding-bottom:64px")
            li.mdw-list__item
              a.mdw-list__content.mdw-overlay.mdw-ripple.mdw-theme(
              aria-current=activated=='Home'
              aria-selected=(activatedKey=='Home' ? 'true' : 'false')
              href='index.html'
              mdw-ink="default")
                .mdw-list__text Home
            li.mdw-list__item(aria-expanded="true")
              .mdw-list__content.mdw-list__subheader
                .mdw-list__text.mdw-theme(mdw-ink="medium") Core
                .mdw-list__secondary.mdw-theme.material-icons(mdw-ink="medium") expand_more
              ul.mdw-list
                +navListItem('color', 'compare', 'Color', activated, 'primary contrast')
                +navListItem('overlay', 'tonality', 'Overlay', activated, 'primary contrast')
                +navListItem('ripple', 'center_focus_strong', 'Ripple', activated, 'primary contrast')
                +navListItem('transition', 'open_in_new', 'Transition', activated, 'primary contrast')
            li.mdw-list__item.mdw-theme(aria-expanded="true")
              .mdw-list__content.mdw-list__subheader
                .mdw-list__text.mdw-theme(mdw-ink="medium") Components
                .mdw-list__secondary.mdw-theme.material-icons(mdw-ink="medium") expand_more
              ul.mdw-list
                +navListItem('appbar', 'web_asset', 'App Bar', activated)
                +navListItem('bottomnav', 'call_to_action', 'Bottom Navigation', activated)
                +navListItem('button', 'crop_landscape', 'Button', activated)
                +navListItem('card', 'crop_square', 'Card', activated)
                +navListItem('chip', 'check_circle', 'Chip', activated)
                +navListItem('datatable', 'format_align_justify', 'Data Table', activated)
                +navListItem('dialog', 'select_all', 'Dialog', activated)
                +navListItem('elevation', 'layers', 'Elevation', activated)
                +navListItem('fab', 'add_circle', 'Floating Action Button', activated)
                +navListItem('grid', 'view_compact', 'Grid', activated)
                +navListItem('layout', 'view_quilt', 'Layout', activated)
                +navListItem('list', 'view_list', 'List', activated)
                +navListItem('menu', 'picture_in_picture', 'Menu', activated)
                +navListItem('progress', 'timelapse', 'Progress', activated)
                +navListItem('selection', 'toggle_on', 'Selection', activated)
                +navListItem('slider', 'tune', 'Slider', activated)
                +navListItem('snackbar', 'video_label', 'Snackbar', activated)
                +navListItem('tab', 'tab', 'Tab', activated)
                +navListItem('textfield', 'text_fields', 'Text Field', activated)
                +navListItem('tooltip', 'info', 'Tooltip', activated)
                +navListItem('type', 'font_download', 'Typography', activated)
            li.mdw-list__item(aria-expanded="true")
              .mdw-list__content.mdw-list__subheader
                .mdw-list__text.mdw-theme(mdw-ink="medium") Adapters
                .mdw-list__secondary.mdw-theme.material-icons(mdw-ink="medium") expand_more
              ul.mdw-list
                +navListItem('dom', 'calendar_view_day', 'DOM', activated)
                +navListItem('search', 'search', 'Search', activated)
      a.mdw-layout__scrim(href='#' tabindex="-1")
      .mdw-layout__appbar.mdw-appbar.mdw-theme(mdw-autohide="mobile tablet" mdw-surface="secondary 500" mdw-dark)
        .mdw-layout__appbar-shape
        .mdw-appbar__action
          .mdw-appbar__start
            .mdw-tooltip__wrapper
              +mdwButton({ icon:true }).mdw-tooltip__target.material-icons.mdw-layout__navdrawer-toggle(href="#docs-navdrawer") menu
              .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark mdw-align="start") Menu
          .mdw-appbar__title=activated
          #docs-menu-buttons.mdw-appbar__end
            .mdw-tooltip__wrapper
              +mdwButton({ icon: true })#altThemeButton.mdw-tooltip__target.material-icons(mdw-overlay-default="medium" mdw-overlay-off="activated" aria-pressed="false") palette
              .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark mdw-align="end") Alt Theme
            .mdw-tooltip__wrapper
              +mdwButton({ icon: true })#darkModeButton.mdw-tooltip__target.material-icons(mdw-overlay-default="medium" mdw-overlay-off="activated" aria-pressed="false") brightness_3
              .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark mdw-align="end") Dark Mode
            .mdw-tooltip__wrapper
              +mdwButton({ icon: true })#rtlButton.mdw-tooltip__target.material-icons(mdw-overlay-default="medium" mdw-overlay-off="activated" aria-pressed="false") format_align_right
              .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark mdw-align="end") Right-to-Left
            .mdw-tooltip__wrapper
              +mdwButton({ icon: true })#largeFontButton.mdw-tooltip__target.material-icons(mdw-overlay-default="medium" mdw-overlay-off="activated" aria-pressed="false") format_size
              .mdw-tooltip.mdw-theme(mdw-surface="background 700" mdw-dark mdw-align="end") 200% Text
      .mdw-layout__fab
      .mdw-layout__snackbar
      .mdw-layout__content
        .mdw-layout__content-page
          block
    script(src='postrender.min.js')
    script(src='entire-framework.min.js')
    script(src='docs.common.min.js')
